<div class="container">

    <h1 class="bg-dark text-white p-3 ">To-Do List Application</h1>

    <hr>
    <form (ngSubmit)="onSubmit(taskForm)" #taskForm="ngForm">
        <div class="form-group">
            <label for="task">Task</label>
            <input type="text" class="form-control" id="task" placeholder="Enter task" ngModel name="task" required>
            <small *ngIf="taskForm.invalid && taskForm.dirty" id="errorMessage" class="form-text text-danger">Required
                field</small>
        </div>

        <button [disabled]="taskForm.invalid" id="submitButton" type="submit" class="btn btn-primary">Submit</button>
    </form>

    <hr>

    <table class="table">
        <thead>
            <tr>
                 <th scope="col">Assigned To</th> <!--completed   -->
                <th scope="col">Status</th>     <!--completed   -->
                <th scope="col">Task</th>
                <th scope="col">Priority</th>
                <th scope="col">Comments</th>
                <th scope="col">Delete</th>   <!--completed   -->
                
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let t of taskArray; index as i">
                <td>{{t.taskName}}</td>
                <td>Completed</td>  <!--incompleted   -->
                <td><input (change)="onCheck(i)" id="myCheckbox" type="checkbox"></td>
                <td>High</td>  <!--incompleted   -->
                <td>NA</td>  <!--incompleted   -->
                <td><button class="btn btn-danger btn-sm" (click)="onDelete(i)">Delete</button></td>
            </tr>

        </tbody>
    </table>
</div>